<nz-table
  #basicTable
  nzSize="small"
  nzShowPagination
  nzShowSizeChanger
  [nzData]="services"
  [nzPageSize]="100"
  [nzHideOnSinglePage]="false"
>
  <thead>
  <tr>
    <th>Namespace</th>
    <th>UUID</th>
    <th>Code</th>
    <th>type</th>
  </tr>
  </thead>
  <tbody>
    @for (a of basicTable.data; track a.value) {
      <tr>
        <td>{{ a.ns }}</td>
        <td><nz-tag>{{ a.shortUUID() }}</nz-tag></td>
        <td>{{ a.name }}</td>
        <td>{{ a.toString() }}</td>
      </tr>
    }
  </tbody>
</nz-table>
