<nz-spin [nzSpinning]="loading">

  <nz-row [nzGutter]="[8, 8]">
    <nz-col nzSpan="24">
      <nz-table
        #basicTable
        nzSize="small"
        nzBordered
        nzShowPagination
        nzShowSizeChanger
        [nzData]="products"
        [nzPageSize]="100"
        [nzHideOnSinglePage]="false"
      >
        <thead>
        <tr>
          <th
            [nzSortFn]="categorySortFn"
            [nzFilters]="categoryFilters"
            [nzFilterFn]="categoryFilterFn"
          >category</th>

          <th
            [nzSortFn]="modelSortFn"
          >model</th>

          <th
            [nzSortFn]="typeSortFn"
          >type</th>

          <th
            [nzSortFn]="statusSortFn"
            [nzFilters]="statusFilters"
            [nzFilterFn]="statusFilterFn"
          >status</th>

          <th
            [nzSortFn]="versionSortFn"
          >version</th>
        </tr>
        </thead>
        <tbody>
          @for (p of basicTable.data; track p.type.toString()) {
            <tr>
              <td>{{ p.type.name }}</td>
              <td>{{ p.type.v2modified }}</td>
              <td><a routerLink="/main/product/detail/{{p.type.toString()}}">{{ p.type.toString() }}</a></td>
              <td>
                @switch (p.status) {
                  @case ('debug') {
                    <nz-tag nzColor="red">development</nz-tag>
                  }
                  @case ('preview') {
                    <nz-tag nzColor="blue">preview</nz-tag>
                  }
                  @case ('released') {
                    <nz-tag nzColor="green">released</nz-tag>
                  }
                }
              </td>
              <td>{{ p.version }}</td>
            </tr>
          }

        </tbody>
      </nz-table>
    </nz-col>

  </nz-row>
</nz-spin>
