<nz-card
  [nzBodyStyle]="{ padding: 0 }"
>
  <div class="title-bar">
    <nz-space class="title">
      <span *nzSpaceItem><span nz-icon nzType="setting" nzTheme="outline"></span></span>
      <span *nzSpaceItem>Property Detail</span>
    </nz-space>

    @if (lifecycle === LifeCycle.DEVELOPMENT) {
      <span style="float: right">
        <button nz-button nzType="primary" nzDanger nzSize="small" (click)="onRemoved()">Remove</button>
      </span>
    }
  </div>

  <form class="content" nz-form [formGroup]="form">
    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>Instance ID</nz-form-label>
      <nz-form-control>
        <device-instance-id
          formControlName="iid"
          [lifecycle]="lifecycle"
          (changed)="onIIDChanged()"
        ></device-instance-id>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>Namespace</nz-form-label>
      <nz-form-control>
        <device-instance-namespace formControlName="ns"></device-instance-namespace>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>Symbol</nz-form-label>
      <nz-form-control>
        <device-instance-name
          formControlName="code"
          [lifecycle]="lifecycle"
          [updatable]="updatable"
          (changed)="onCodeChanged()"
        ></device-instance-name>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>Description</nz-form-label>
      <nz-form-control>
        <device-instance-description
          formControlName="description"
          [lifecycle]="lifecycle"
          (changed)="onDescriptionChanged()"
        ></device-instance-description>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>Access</nz-form-label>
      <nz-form-control>
        <device-instance-service-property-access
          formControlName="access"
          [lifecycle]="lifecycle"
          (changed)="onAccessChanged()"
        ></device-instance-service-property-access>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-flex>
      <nz-form-label [style.width.px]="120" nzRequired>Data Format</nz-form-label>
      <nz-form-control>
        <device-instance-service-property-format
          formControlName="format"
          [lifecycle]="lifecycle"
          (changed)="onFormatChanged()"
        ></device-instance-service-property-format>
      </nz-form-control>
    </nz-form-item>

    @if (constrainable) {
      <nz-form-item nz-flex>
        <nz-form-label [style.width.px]="120" nzRequired>Value Constraint</nz-form-label>
        <nz-form-control>
          <device-instance-service-property-constraint
            formControlName="constraint"
            [lifecycle]="lifecycle"
            (changed)="onConstraintTypeChanged()"
          ></device-instance-service-property-constraint>
        </nz-form-control>
      </nz-form-item>

      @switch (form.controls.constraint.value) {
        @case (ConstraintType.RANGE) {
          <nz-form-item nz-flex>
            <nz-form-label [style.width.px]="120" nzRequired>Value Range</nz-form-label>
            <nz-form-control>
              <device-instance-service-property-range
                formControlName="range"
                [lifecycle]="lifecycle"
                (changed)="onConstraintRangeChanged()"
              ></device-instance-service-property-range>
            </nz-form-control>
          </nz-form-item>
        }
        @case (ConstraintType.LIST) {
          <nz-form-item nz-flex>
            <nz-form-label [style.width.px]="120" nzRequired>Value List</nz-form-label>
            <nz-form-control>
              <device-instance-service-property-list
                formControlName="list"
                [lifecycle]="lifecycle"
                (changed)="onConstraintListChanged()"
              ></device-instance-service-property-list>
            </nz-form-control>
          </nz-form-item>
        }
      }
    }

    @if (combinationValue) {
      <nz-form-item nz-flex>
        <nz-form-label [style.width.px]="120" nzRequired>Members</nz-form-label>
        <nz-form-control>
          <device-instance-service-property-members
            formControlName="members"
            [lifecycle]="lifecycle"
            [service]="service"
            [property]="property"
            [language]="language"
            (changed)="onMembersChanged()"
          ></device-instance-service-property-members>
        </nz-form-control>
      </nz-form-item>
    }

    @if (property) {
      @if (property.formatNumber()) {
        <nz-form-item nz-flex>
          <nz-form-label [style.width.px]="120" nzRequired>Unit</nz-form-label>
          <nz-form-control>
            <device-instance-service-property-unit
              formControlName="unit"
              [lifecycle]="lifecycle"
              (changed)="onUnitChanged()"
            ></device-instance-service-property-unit>
          </nz-form-control>
        </nz-form-item>
      }

<!--      @if (property.format !== DataFormat.COMBINATION) {-->
<!--        <nz-form-item nz-flex>-->
<!--          <nz-form-label [style.width.px]="120" nzRequired>Default Value</nz-form-label>-->
<!--          <nz-form-control>-->
<!--            <device-instance-service-property-default-value-->
<!--              formControlName="defaultValue"-->
<!--              [property]="property"-->
<!--              [lifecycle]="lifecycle"-->
<!--              (changed)="onDefaultValueChanged()"-->
<!--            ></device-instance-service-property-default-value>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--      }-->
    }
  </form>
</nz-card>
