@if (lifecycle === LifeCycle.DEVELOPMENT) {
  <nz-radio-group [ngModel]="value" nzButtonStyle="solid" (ngModelChange)="onRadioChange($event)">
    <label nz-radio-button [nzValue]="ValueConstraintType.NONE">NONE</label>
    <label nz-radio-button [nzValue]="ValueConstraintType.RANGE">Range</label>
    <label nz-radio-button [nzValue]="ValueConstraintType.LIST">List</label>
  </nz-radio-group>
} @else {
  @switch (value) {
    @case (ValueConstraintType.NONE) {
      <nz-tag nzColor="green">NONE</nz-tag>
    }
    @case (ValueConstraintType.RANGE) {
      <nz-tag nzColor="blue">Range</nz-tag>
    }
    @case (ValueConstraintType.LIST) {
      <nz-tag nzColor="green">List</nz-tag>
    }
  }
}
